.btn {
  display: block;
  padding: 30px 50px;
  width: 277px;
  height: 88px;
  background: #fed84c;
  border-radius: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  text-align: center;
  color: #2e363e;

  &:hover {
    text-decoration: none;
    color: #2e363e;
  }
}
