.content {
  min-height: 1352px;
  position: relative;
  background-color: #081130;
  &__img-start {
    height: 330px;
    position: absolute;
    top: -1px;
    width: 100%;
    background: url("../img/cloud_1.png") center center/cover no-repeat;
  }
  &__img-end {
    height: 330px;
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
    background: url("../img/cloud_2.png") center center/cover no-repeat;
  }
  &__wrapper {
    position: absolute;
    width: 481px;
    top: 439px;
    right: 0;
  }
  &__label {
    width: 230px;
  }
  &__title {
    margin-top: 24px;
    letter-spacing: -1px;
  }
  &__subtitle {
    font-weight: 400;
    margin-top: 24px;
  }
  &__link {
    width: 320px;
    margin-top: 40px;
  }
  &__img-main {
    background: url("../img/phone.png") center center/contain no-repeat;
    position: absolute;
    left: -100px;
    bottom: 0;
    width: 1090px;
    height: 1034px;

  }
}
