.content {
  background-color: #081130;
  &__img-start {
    height: 330px;
    width: 100%;
    background: url("../img/cloud_1.png") center center/cover no-repeat;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 51%) 49%;
    gap: 84px;
    align-items: end;
  }
  &__wrapper-second {
    position: relative;
    overflow: hidden;
  }
  &__text {
    grid-column: 2/3;
    width: 481px;
    margin-top: 109px;
    margin-bottom: 109px;
  }
  &__label {
    width: 230px;
  }
  &__title {
    margin-top: 24px;
    letter-spacing: -1px;
  }
  &__subtitle {
    font-weight: 400;
    margin-top: 24px;
  }
  &__link {
    width: 320px;
    margin-top: 40px;
  }
  &__img {
    grid-column: 1/2;
    img {
      width: 100%;
    }
  }
}
