@media (min-width: 1401px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .promo {
    padding-bottom: 150px;
    .title {
      font-size: 42px;
    }
    &__wrapper {
      margin-top: 110px;
      width: 633px;
    }
  }
  .cook {
    padding-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .title_fz48 {
    font-size: 43px;
    line-height: 48px;
  }
  .container {
    max-width: 960px;
  }
  .promo {
    padding-bottom: 100px;
    .title {
      font-size: 33px;
      line-height: 45px;
    }
    &__wrapper {
      margin-top: 80px;
      width: 500px;
    }
  }
  .reviews {
    &__slide {
      .grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
      }
    }
    &__img-end,
    &__img-start {
      height: 200px;
    }
  }
  .content {
    &__wrapper {
      gap: 40px;
    }
    &__text {
      padding-right: 20px;
      margin-top: 10px;
    }
    &__img-start {
      height: 200px;
    }
  }
  .footer {
    &__img {
      height: 200px;
    }
  }
}

@media (max-width: 992px) {
  .title_fz48 {
    font-size: 32px;
  }
  .container {
    max-width: 720px;
  }
  .promo {
    padding-bottom: 50px;
    background: url("../img/bg.jpg") 0% 0% /130% auto no-repeat;
  }

  .catalog {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30px;
    }
    &__item {
      &-descr {
        padding: 35px 30px;
      }
    }
  }

  .content {
    padding-bottom: 80px;
    &__text {
      grid-column: 1/3;
      margin: 0 auto;
    }
    &__img {
      display: none;
    }
  }

  .galery {
    &__wrapper {
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }
  .reviews {
    &__slide {
      padding: 70px;
      margin-top: 30px;
      .slick-prev {
        left: 35%;
      }
      .slick-next {
        right: 35%;
      }
    }
  }
  .cook {
    &__img-round {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .title_fz48 {
    line-height: 38px;
    text-align: center;
  }
  .container {
    max-width: 540px;
  }
  .header {
    &__address {
      display: none;
    }
    &__contacts {
      justify-content: center;
    }
  }
  .title_fz48 {
    font-size: 24px;
  }
  .promo {
    padding-bottom: 30px;
    &__title,
    &__subtitle {
      text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
        0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
        -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
        1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
        -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
        1px 1px 1px #000000;
    }
  }
  .catalog {
    &__items {
      margin-top: 10px;
    }
    &__item {
      &-descr {
        padding: 20px 20px;
      }
      &-title {
        font-size: 20px;
      }
    }
  }
  .content {
    padding-bottom: 40px;
    &__label {
      margin: 0 auto;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      padding-right: 0;
    }
    &__link {
      margin: 40px auto 0;
    }
  }
  .cook {
    padding-top: 40px;
    ul {
      list-style-type: none;
      margin: 20px auto 0;
      li {
        margin-bottom: 20px;
      }
    }
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
    }
    &__descr {
      grid-row: 2/3;
    }
    &__label {
      margin: 0 auto;
    }
    &__img {
      justify-self: center;
      grid-row: 1/2;
      width: 300px;
      height: 300px;
      img {
        height: 100%;
      }
    }
    &__btn {
      margin: 40px auto 0;
    }
  }
  .reviews {
    &__slide {
      padding: 20px;
      .grid {
        grid-template-columns: 1fr;
      }
      &-descr {
        grid-row: 2/3;
      }
      &-img {
        justify-self: center;
        grid-row: 1/2;
        width: 300px;
        height: 300px;
        img {
          width: 100%;
        }
      }
      .slick-prev,
      .slick-next {
        transform: translateY(150%);
      }
    }
    &__img-end {
      margin-top: 40px;
    }
  }
  .footer {
    padding-bottom: 40px;
    &__form {
      padding: 20px;
    }
    &__info {
      margin-top: 40px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 5px;
  }
  .promo {
    background: url(../img/bg.jpg) center center/cover no-repeat;
    .title {
      font-size: 22px;
      line-height: 30px;
    }
    .title_fz24 {
      font-size: 15px;
    }
    &__wrapper {
      width: 100%;
      margin-top: 40px;
    }
    .header {
      flex-direction: column;
      .title_fz21 {
        font-size: 21px;
        line-height: 143%;
      }
      &__contacts {
        margin-top: 20px;
        width: 100%;
      }
      &__wrapper {
        margin-top: 40px;
      }
      &__tel,
      .title_fz13 {
        text-shadow: 0 -1px 1px #000, 0 -1px 1px #000, 0 1px 1px #000,
          0 1px 1px #000, -1px 0 1px #000, 1px 0 1px #000, -1px 0 1px #000,
          1px 0 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
          -1px 1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000,
          1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
      }
    }
    &__btns {
      margin-top: 20px;
    }
    .btn {
      padding: 10px;
      width: 220px;
      height: 77px;
    }
    &__link_white {
      font-size: 11px;
      line-height: 150%;
    }
  }
  .content {
    .title_fz48 {
      line-height: 30px;
    }
    &__subtitle {
      margin-top: 15px;
      font-size: 17px;
    }
    &__img-start {
      height: 100px;
    }
    &__text {
      max-width: 300px;
    }
    &__link {
      width: 280px;
      height: 71px;
      margin-top: 30px;
      padding: 20px;
    }
  }
  .catalog {
    &__items {
      grid-template-columns: 1fr;
      margin-top: 20px;
    }
    &__item {
      width: 295px;
      margin: 0 auto;
    }
  }
  .cook {
    .title_fz48 {
      line-height: 30px;
    }
    &__img {
      width: 280px;
      height: 280px;
    }
    ul {
      width: 100%;
      li {
        text-align: center;
      }
    }
    &__btn {
      width: 280px;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
  .reviews {
    &__img-end,
    &__img-start {
      height: 100px;
    }
    &__slide-img {
      justify-self: center;
      grid-row: 1/2;
      width: 250px;
    }
    &__slide {
      .slick-next {
        right: 15%;
      }
      .slick-prev {
        left: 15%;
      }
      &-title {
        margin-top: 10px;
        font-size: 24px;
      }
      &-text {
        margin-top: 10px;
      }
      .slick-next,
      .slick-prev {
        transform: translateY(120%);
      }
    }
  }
  .galery {
    &__subtitle {
      margin-top: 7px;
    }
    .title_fz24 {
      font-size: 18px;
    }
    &__wrapper {
      margin-top: 10px;
      grid-template-columns: minmax(auto, 295px);
      justify-content: center;
    }
  }
  .footer {
    &__img {
      height: 100px;
    }
    .title_fz36 {
      font-size: 28px;
      line-height: 129%;
    }
    &__subtitle {
      margin-top: 7px;
    }
    .title_fz21 {
      font-size: 18px;
      line-height: 135%;
    }
    &__triggers {
      flex-direction: column;
    }
    &__input {
      width: 280px;
      margin-right: 0px;
      margin-bottom: 10px;
    }
    &__btn {
      width: 280px;
    }
  }
}
