.promo {
  padding-top: 37px;
  padding-bottom: 188px;
  background: url("../img/bg.jpg") center 0% /100% auto no-repeat;
  &__wrapper {
    margin-top: 188px;
    width: 647px;
  }
  &__title {
    margin-top: 24px;
  }
  &__subtitle {
    margin-top: 24px;
  }
  &__btns {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 20px;
    &_white {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;

      text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
        0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
        -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
        1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
        -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
        1px 1px 1px #000000;
      &:hover {
        color: #fff;
      }
    }
  }
}
